.homepage {
  width: calc(100vw - 380px);
  padding: 10px 30px;
  @media screen and (max-width: 800px) {
    width: 100vw;
  }
  h1 {
    color: #fff;
  }

  .searchbox {
    width: 100%;
    padding: 6px 10px;
    outline: none;
    background-color: rgb(13, 17, 23);
    color: #fff;
    font-size: 16px;
  }

  .boxes {
    margin: 20px auto 0 auto;
    height: 440px;
    overflow-y: scroll;
    width: 85%;
    display: grid;
    justify-items: center;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: 1fr;
    // justify-items: start;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .boxes::-webkit-scrollbar {
    display: none;
  }
}
